[Default]

raw_reader_type = esd

# input / output paths
rootpath = \\OCS-S-HyperV17\NBS_Store1\fuse\NBS_Data_Qualified
rawpath = PBE_MidAtlantic_UTM17N_MLLW\NOAA_Direct_OCS\ESD\Original
outpath = PBE_MidAtlantic_UTM17N_MLLW\NOAA_Direct_OCS\ESD\Processed

metatable = OCS-VS-NBS05:5434/metadata/pbe_midatlantic_utm17n_mllw_qualified

# These are the required (checked for) values
to_horiz_datum = NAD83 UTM
to_horiz_frame = NAD83
to_horiz_type = utm
to_horiz_units = m
to_horiz_key = 17
to_vert_key = mllw
to_vert_units = m
to_vert_direction = height
to_vert_datum = Mean Lower Low Water

# set the datum transformation path information
java_path = D:\resources\Java\jre1.8.0_191\bin
vdatum_path = D:\resources\vdatum

# set the information needed for interpolation
to_resolution = 4
interpolation_method = linear
interpolation_engine = raster

# exchange file type
bathymetry_intermediate_file = bag

# database information
database_location = ocs-vs-nbs04
database_name = PBE_MIDATLANTIC_UTM17N_MLLW
credentials_file = D:\credentials\postgres_scripting.txt
