[Default]
raw_reader_type = gmrt

# input / output paths
rootpath = \\OCS-S-HyperV17\NBS_Store1\fuse\NBS_Data_Qualified
rawpath = PBA_WestCoast_UTM9N_NCD\GMRT\topo-mask\Original
outpath = PBA_WestCoast_UTM9N_NCD\GMRT\topo-mask\Processed
metatable = OCS-VS-NBS05:5434/metadata/pba_westcoast_utm9n_NCD_gmrt

# set the datum transformation path information
java_path = D:\resources\Java\jre1.8.0_191\bin
vdatum_path = D:\resources\vdatum

# datum transformation binary paths
to_horiz_datum = NAD83 UTM
to_horiz_frame = NAD83
to_horiz_type = utm
to_horiz_units = m
to_horiz_key = 9

# output vertical datum
to_vert_key = ncd
to_vert_units = m
to_vert_direction = height
to_vert_datum = Nautical Chart Datum

# interpolation information
to_resolution = 16
interpolation_method = linear
interpolation_engine = raster

# exchange file type
bathymetry_intermediate_file = bag

# database information
database_location = localhost
database_name = PBD_WestCoast_UTM9N_MLLW
credentials_file = D:\credentials\postgres_scripting.txt
