[Default]
raw_reader_type = jalbtcx

# input / output paths
rootpath = \\nos.noaa\OCS\HSD\Projects\NBS\NBS_Data_Qualified
rawpath = PBG_GulfofMexico_UTM16N_MLLW\JALBTCX_Service\DEM\Original\
outpath = PBG_GulfofMexico_UTM16N_MLLW\JALBTCX_Service\DEM\Processed\
# metapath = PBC_Northeast_UTM16N_MLLW\JALBTEX\DEM\Test\20200316\rsd_meta.csv
metatable = OCS-VS-NBS05:5434/metadata/pbg_gulfofmexico_utm16n_mllw_qualified

# set the datum transformation path information
java_path = D:\resources\Java\jre1.8.0_191\bin
vdatum_path = D:\resources\vdatum

# datum transformation binary paths
to_horiz_datum = NAD83 UTM
to_horiz_frame = NAD83
to_horiz_type = utm
to_horiz_units = m
to_horiz_key = 16

# output vertical datum
to_vert_key = mllw
to_vert_units = m
to_vert_direction = height
to_vert_datum = Mean Lower Low Water

# interpolation information
to_resolution = 4
interpolation_method = linear
interpolation_engine = raster

# exchange file type
bathymetry_intermediate_file = bag

# database information
#database_location = localhost
#database_name = PBG_GULF_UTM16N_MLLW
#credentials_file = D:\credentials\postgres_scripting.txt
